.main3_text1 {
    display: flex;
    width: 454px;
    flex-direction: column;
    flex-shrink: 0;
    color: #363853;
    font-size: 36px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    line-height: 50px;
    text-transform: capitalize;
    padding-top: 290px;
    padding-bottom: 20px;
}

.main3_text2 {
    display: flex;
    width: 538px;
    height: 94px;
    flex-direction: column;
    flex-shrink: 0;
    color: #363853;
    font-size: 20px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
}

.main3_imgs {
    display: flex;
    gap: 35px;
}

.main3_img {
    margin-top: 180px;
    margin-bottom: 100px;
}

.restaurant_text {
    color: #FF7A50;
}

.start_section_text {
    text-align: center;
}

.start_section_text_father{
    margin-top: 30px;
}

.card{
    margin-top: 30px;
}

.cards_box {
    margin-top: 22px;
    display: flex;
    justify-content: space-around;
    padding-left: 10px;
    flex-wrap: wrap;
}

.topfood_father {
    display: flex;
    justify-content: space-between;
}

.blaze_pizza {
    margin-top: 5px;
    margin-left: 10px;
}

.time {
    margin-left: 10px;
}

.timer {
    margin-right: 5px;
    margin-bottom: 5px;
}